.landingPageContainer {
    height: 100vh;
    width: 100vw;
    background: url(/background.png);
    background-size: cover;
    color: white;
}

.navHeader h2 {
    margin: 0;
} 

.landingPageContainer nav {
    padding-inline: 1.2rem;
    padding-block: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landingPageContainer nav h2{
    font-size: 1.8rem;
    font-weight: 500;
}

.landingPageContainer nav .navList {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    cursor: pointer;
}

.landingMainContainer {
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    height: 70vh;
    align-items: center;
}


.landingMainContainer > div:nth-child(1) {
    font-size: 1.8rem;
}


.callingImage img { 
    transform: translate(55px, 70px) scale(1.3);
}

.landingMainContainer > div:nth-child(1) div[role="button"] {
    background-color: #D97500;
    padding: 0.8rem 1.6rem;
    border-radius: 0.4rem;
    width: fit-content;
    margin-top: 1.6rem;
    text-decoration: none;
}

.landingMainContainer > div:nth-child(1) div[role="button"] a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.7rem;
}





